.contacts {
  outline: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}
.contacts.showMess {
  display: none;
}
.contact {
  padding: 30px 20px;
  border-bottom: 1px solid #cccccc;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50px 20px 1fr;
  grid-template-columns: 50px 1fr;
  grid-column-gap: 20px;
  text-decoration: none;
  color: #000000;
}
@-webkit-keyframes pulsing {
  0% {
    background-color: #ffffff;
  }
  30% {
    background-color: rgba(0, 0, 255, 0.1);
  }
  100% {
    background-color: #ffffff;
  }
}
@keyframes pulsing {
  0% {
    background-color: #ffffff;
  }
  30% {
    background-color: rgba(0, 0, 255, 0.1);
  }
  100% {
    background-color: #ffffff;
  }
}
.newNotification {
  -webkit-animation: pulsing 3s infinite;
  animation: pulsing 3s infinite;
}
.lastMessage {
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 200px;
}
.contact:hover {
  background-color: #f5f5f5;
}
.photo {
  position: relative;
}
.status {
  position: absolute;
  bottom: 0;
  right: 0;
}
.contact__photo {
  border-radius: 50px;
}
.date {
  margin-left: auto;
}
.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.addNewContact {
  width: 100%;
  border: 0;
  outline: 0;
  padding: 40px 0;
  cursor: pointer;
}

.active {
  background-color: #cccccc;
}
.active:hover {
  background-color: #bebebe;
}
@media (min-width: 747px) {
  .contact {
    margin-right: -1px;
    border-right: 1px solid #cccccc;
  }
}
